auto-install-peers=true
frozen-lockfile=false
prefer-frozen-lockfile=false
public-hoist-pattern[]=*lightningcss*
supportedArchitectures.os[]=linux
supportedArchitectures.os[]=win32
supportedArchitectures.cpu[]=x64
supportedArchitectures.libc[]=glibc
